<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hOME</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quo doloremque perspiciatis numquam cumque. Reprehenderit adipisci vel eveniet doloribus amet illo, voluptatem eligendi nemo aliquid, repudiandae ipsum aut, cum dolorem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque beatae facere enim non? Repudiandae, voluptatum sequi quis totam ab deleniti, quas recusandae ex deserunt, exercitationem perferendis voluptatibus incidunt atque minus.</p>
</body>
</html>